.profile{
    margin-top: 10px;
}

.container{
    max-width: 1008px;
    margin: 0 auto
}
.profileWrapper{
    background:#FEFEFF;
    border-radius:8px;
    /* min-height: 565px; */
    min-height: 490px;
    display: grid;
    grid-template-columns: 243px 1fr;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

.profileLeftBox{
    background:#ECECF9;
    display: flex;
    flex-direction: column;
}

.profileLeftTop{
    background: #D9D9F1;
    /* height: 216px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileWrapImg{
    margin: 24px 0 5px;
    max-width: 96px;
}

.profileNameUser{
    color:#2D2E46;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;
}

.profileUserProf{
    color:rgba(45, 46, 70, 0.5);
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
}

.profilePersonalBtn{
    width: 75px;
    height: 24px;
    background-color: transparent;
    border:1px solid #635D80;
    border-radius:2px;
    font-family: 'SFUIDisplaySemibold', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color:#21268F;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    box-shadow: 0 4px 18px 0 rgba(33, 38, 143, 0.35)    ;
    cursor: pointer;
    transition: 1s ease-in-out;
    margin-bottom: 12px;
}

.profilePersonalBtn:hover{
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
    background: #a8a8bd;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.profileRightBox{}  



.profilePersonal{
    background:#F9F9FE;
    border: 8px solid transparent;
    padding: 0 33px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 41%;
    max-width: 413px;
    /* position: fixed;
    left: 34%;
    top: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* display: none; */
    }

.profilePersonalTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 36px 0 15px;
    text-align: center;
}

.profileBtnBox{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 60px;
}
.profileBtnCancel{
    width: 124px;
    height: 36px;
    background-color: #D7D8EF;
    border:none;
    border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:rgba(33, 38, 143, 0.8);
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.passwordRecoveryButton:hover{
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
}

.profileBtnSave{
        width: 124px;
        height: 36px;
        background-color: #21268F;
        border:none;
        border-radius:30px;
        font-family: 'SFUIDisplayMedium', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color:#ECECF9;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        -ms-border-radius:30px;
        -o-border-radius:30px;
        cursor: pointer;
        transition: 1s ease-in-out;
}
    
.profileBtnSave:hover{
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
}



