.cardLearnModalBtnBox{
    display: flex;
}
.cardLearnModalBtnCancel{
    width: 124px;
    height: 36px;
    background-color: #D7D8EF;
    border:none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#21268F;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 36px;
    cursor: pointer;
}
.cardLearnModalBtnCancel:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
}

.cardLearnModalBtnNext{
    width: 187px;
    height: 36px;
    background-color: #21268F;
    border:none;
    border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#ECECF9;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    box-shadow: 0 4px 18px 0 rgba(33, 38, 143, 0.35);
    cursor: pointer;
    transition: 1s ease-in-out;
}

.cardLearnModalBtnNext:hover{
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
    transform: translateY(-3px);
}