.checkEmail{
    background:#F9F9FE;
    border: 8px solid transparent;
    padding: 0 33px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 70%;
    max-width: 413px;
    /* position: fixed;
    left: 34%;
    top: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.checkEmailTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    margin: 21px 0 35px;
    color:#2D2E46;
    text-align: center;
}
.checkEmailWrapImg{
    margin-bottom: 24px;
}
.checkEmailImg{}
.checkEmailSubTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 21px;
    color:#2D2E46;
    text-align: center;
}
.checkEmailBottom{
    margin-bottom: 138px;
}
.checkEmailText{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:rgb(45, 46, 70, 0.7);
}