
.passwordRecovery{
    background:#F9F9FE;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 8px;

    width: 41%;
    max-width: 413px;
    position: fixed;
    left: 34%;
    top: 12%;
    display: flex;
}

.passwordRecoveryWrapper{
    max-width: 347px;
    margin: 0 auto;
}

.passwordRecoveryTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    margin: 13px 0 30px;
    text-align: center;
}

.passwordRecoverySubTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 57px;
    text-align: center;
}


.passwordRecoveryEmail{
    border:none;
    border-bottom: 1.5px solid rgba(36, 37, 74, 0.2);
    cursor: pointer;
    height: 26px;
    width: 100%;
    background:#F9F9FE;
    margin: 0 0 32px 0;
}


.passwordRecoveryEmail:focus{
    border:none;
    border-bottom:1.5px solid rgba(36, 37, 74, 0.2);   
}

.passwordRecoveryEmail::placeholder{
    margin-top: 24px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
}
.passwordRecoveryText{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
    margin-bottom: 80px;
}

.passwordRecoveryBottom{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.passwordRecoveryButton{
    width: 266px;
    height: 36px;
    background-color: #21268F;
    border:none;
    border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#ECECF9;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    box-shadow: 0 4px 18px 0 rgba(33, 38, 143, 0.35);
    margin-bottom: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.passwordRecoveryButton:hover{
    box-shadow: 0 4px 36px 0 rgba(33, 38, 143, 0.65);
    transition: 0.5s ease-in-out;
}
.passwordRecoveryTextButton{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
    margin-bottom: 11px;
    text-align: center;
}
.passwordRecoveryLink{
    font-family: 'SFUIDisplaySemibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    margin-bottom: 22px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    margin-bottom: 18px;
}