
.main{
    margin-top: 10px;
}

.container{
    max-width: 1008px;
    margin: 0 auto
}

.packsWrapper{
    background:#FEFEFF;
    border-radius:8px;
    min-height: 600px;
    /* min-height: 490px; */
    display: grid;
    grid-template-columns: 243px 1fr;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

.packsLeftBox{
    background:#ECECF9;
}
.packsRightBox{
    overflow: hidden;
}

.packsRightWrapper{
    max-width: 669px;
    margin: 0 auto;
}

.packsTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 24px 0 15px;
}

.packsRightTopBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items:baseline;
}

.mainSearchWrapper{
    position: relative;
}
.mainSearchForm{
    background-color: #ECECF9;
    width: 461px;
    height: 36px;
    border: 1px solid rgba(99, 93, 128, 0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding-left: 20px;
    outline: none;
    margin: 0;

}

.mainSearchForm::placeholder{
    color:rgba(45, 46, 70, 0.5);
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 35px;
}
.mainSearchIcon{
    position: absolute;
    top: 11px;
    left: 22px;
    opacity: 0.5;
}

.mainSearchForm:focus{
    border: 1px solid rgba(99, 93, 128, 0.5);
    color:rgb(45, 46, 70);
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.showAll{
    display: flex;
    justify-content: center;
    color: #2e7d32;
    font-size: 25px;
}
.showMy{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #d32f2f;


}
.header {
    /* border: 8px solid transparent; 
    box-shadow: 0 0 8px rgba(25, 118, 210, 0.9);
    width: 100%;*/
    background-color:#ECECF9;
    display: grid;
    grid-template-columns: 185px 77px 135px 110px 162px;
    justify-items: center;
    /* padding: 20px; */
    color:#2D2E46;
    font-family: 'SFUIDisplayBold', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;


}
.sort{
    cursor: pointer;

}
.sortBlock{
    display: flex;
    align-items: center;
}
.table {

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: row;
    align-items: inherit;
    justify-content: space-between;
    flex-direction: column;
    color:#000000;
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.row {

    display: grid;
    grid-template-columns: 185px 77px 135px 110px 162px;;
    justify-items:flex-start;
    padding-bottom: 5px;
}

