
.main{
    width: 1280px;
    margin: 0 auto;
}

.mainSearchWrapper{
    position: relative;
}
.mainSearchForm{
    background-color: #ECECF9;
    width: 461px;
    height: 36px;
    border: 1px solid rgba(99, 93, 128, 0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding-left: 20px;
    outline: none;

}

.mainSearchForm::placeholder{
    color:rgba(45, 46, 70, 0.5);
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 35px;
}
.mainSearchIcon{
    position: absolute;
    top: 21px;
    left: 32px;
    opacity: 0.5;
}
/* .mainSearchWrapper::before{
    content:"";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(./../../assets/images/searchIcon.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    left: 32px;
    opacity: 0.5;
} */

.mainSearchForm:focus{
    border: 1px solid rgba(99, 93, 128, 0.5);
    color:rgb(45, 46, 70);
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.showAll{
    display: flex;
    justify-content: center;
    color: #2e7d32;
    font-size: 25px;
}
.showMy{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #d32f2f;


}
.header {
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(25, 118, 210, 0.9);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 8px;


}
.sort{
    cursor: pointer;

}
.sortBlock{
    display: flex;
    align-items: center;
}
.table {

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: row;
    align-items: inherit;
    justify-content: space-between;
    flex-direction: column;

}

.row {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 20px;
}

