
.main{
      width: 1280px;
      margin: 0 auto;


}

.showAll{
    display: flex;
    justify-content: center;
    color: #2e7d32;
    font-size: 25px;
}
.showMy{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #d32f2f;


}
.header {
    border: 8px solid transparent;
    box-shadow: 0px 0px 8px rgba(25, 118, 210, 0.9);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 8px;


}
.sort{
    cursor: pointer;

}
.sortBlock{
    display: flex;
    align-items: center;
}
.table {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: row;
    align-items: inherit;
    justify-content: space-between;
    flex-direction: column;

}

.row {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 20px;
}

