.setPassword{
    background:#F9F9FE;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 8px;
    width: 41%;
    max-width: 413px;
    position: fixed;
    left: 34%;
    top: 12%;
    display: flex;
}

.setPasswordWrapper{
    max-width: 347px;
    margin: 0 auto;
}

.setPasswordTitle{font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    margin: 13px 0 30px;
    text-align: center;}

.setPasswordSubTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 57px;
    text-align: center;
}

.passwordRecoveryPassword{
    border:none;
    border-bottom: 1.5px solid rgba(36, 37, 74, 0.2);
    cursor: pointer;
    height: 26px;
    width: 100%;
    background:#F9F9FE;
    margin: 0 0 32px 0;
}

.passwordRecoveryPassword:focus{
    border:none;
    border-bottom:1.5px solid rgba(36, 37, 74, 0.2);   
}

.passwordRecoveryPassword::placeholder{
    margin-top: 24px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
}

.setPasswordText{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
    margin-bottom: 80px;
}

.setPasswordBtn{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(36, 37, 74, 0.5);
    margin-bottom: 11px;
    text-align: center;
}