.nav {
    grid-area: nav;
    background-color: #EBE0E9;
    min-height: 60px;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

.navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color:#2D2E46;
}
.navRight{
    display: flex;
    /* display: none;      после авторизации блок должен стать невидимым*/
}

.navTabs{
    display: flex;
}

.navTabsItem{
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-size: 14px;
    letter-spacing: 0.40px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.navTabsImg{
    margin-right: 18px;
    fill: rgba(45, 46, 70, 0.4);
}

.navTabsImg:active{
    fill: #2D2E46;
}
.item {
    color: rgba(45, 46, 70, 0.4);
    text-decoration: none;
    margin-right: 50px;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: baseline;

}

.activeStyle{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #DCCCDB;
    color: #2D2E46;
    text-decoration: none;
    margin-right: 50px;
    border-bottom: 3px solid #21268F ;
    height: 60px;
    width: 173px;
}