
.registration{
    background:#F9F9FE;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 8px;
    width: 41%;
    max-width: 413px;
    position: fixed;
    left: 43%;
    top: 15%;
    display: flex;
}

.registrationWrapper{
    max-width: 347px;
    margin: 0 auto;
    z-index:2;
}

.registrationTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    margin: 13px 0 30px;
    text-align: center;
}

.registrationSubTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 35px;
    text-align: center;
}

.registrationInput{
    border:none;
    border-bottom: 1.5px solid rgba(36, 37, 74, 0.2);
    cursor: pointer;
    height: 26px;
    width: 100%;
    background:#F9F9FE;
}

.registrationLabel{
    margin-top: 24px;
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:rgba(36, 37, 74, 0.5);
}

.registrationInput:focus{
    border:none;
    border-bottom:1.5px solid rgba(36, 37, 74, 0.2);   
}

.registrationPasswordWrap{
    position: relative;
    margin-top: 22px;
}

.registrationPasswordControl{
    border:none;
    cursor: pointer;
    position: absolute;
	top: 16px;
    right: 14px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(./../../assets/images/eye.svg) 0 0 no-repeat;
}

.registrationPasswordControl {
	background: url(./../../assets/images/eye.svg) 0 0 no-repeat;
}

.registrationBtnBox{
    margin: 84px 0 60px;
    display: flex;
}

.registrationBtnCancel{
    width: 124px;
    height: 36px;
    background-color: #D7D8EF;
    border:none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#21268F;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 36px;
}

.registrationBtnReg{
    width: 187px;
    height: 36px;
    background-color: #21268F;
    border:none;
    border-radius:30px;
    font-family: 'SFUIDisplayMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#ECECF9;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    box-shadow: 0 4px 18px 0 rgba(33, 38, 143, 0.35);
}

/* .registrationOverlay{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
} */